In [1]:
print("hello world!!!")

hello world!!!

In [2]:
Print("hello world!!!")

NameError: name 'Print' is not defined

In [3]:
print(hello world!!!)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (595588776.py, line 1)

In [4]:
print(10)

10

In [5]:
print(10.7)

10.7

### ; gfvxgbhsgsg

using # ; djfuf

#### ; dfgbduyfb

#####; dhgdnb

## ; dfhgudfhguf

# ; jhsdufhguf

# variables

In [7]:
# variables

In [8]:
### 1 variable should not have space
first name = "harshit"

SyntaxError: invalid syntax (2875914350.py, line 2)

In [10]:
### 2 variable should not start with A-Z OR _ 
firstname = "harshit"
firstname

'harshit'

In [11]:
name="data"
name

'data'

In [12]:
_name="data"
_name

'data'

In [13]:
+name="data"
+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3032243266.py, line 1)

In [14]:
1name="data"
n1ame

SyntaxError: invalid decimal literal (884806838.py, line 1)

In [15]:
### 3 variable should not start number 
1name = "harshit"
1name

SyntaxError: invalid decimal literal (2779461994.py, line 2)

In [16]:
name1="data"
name1

'data'

In [17]:
n2ame="data"
n2ame

'data'

In [18]:
### 4 only allowed special character is _
first+name="one"
first+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1435866765.py, line 2)

In [19]:
first_name="one"
first_name

'one'

# data types

In [20]:
x=10.5
type(x)

float

In [21]:
y=10
type(y)

int

In [23]:
z=True
type(z)

bool

In [24]:
Z="True"
type(z)

bool

In [27]:
x=10
type(x) #always print last value
x

10

In [28]:
x,type(x)

(10, int)

In [29]:
x,y=10,20
y
x

10

In [30]:
y,x

(20, 10)

In [31]:
x,y

(10, 20)

In [36]:
# write a program to print your name , data type of name , print age and its data type
x="harshit"
y=20.0
x,y,type(x),type(y)

('harshit', 20.0, str, float)